<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% bootstrap_messages %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Account</title>
    <style>
    body {
      padding-top: 50px;
    }
   /* Remove the navbar's default rounded borders and increase the bottom margin */
   .navbar {
     margin-bottom: 10px;
     border-radius: 0;
   }

   /* Remove the jumbotron's default bottom margin */
    .jumbotron {
     margin-bottom: 0;
   }

   /* Add a gray background color and some padding to the footer */
   footer {
     background-color: #f2f2f2;
     padding: 25px;
   }
   </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Star Car Rentals</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'rentals:rentals' %}">Cars</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.session.user_id %}<li><span class="navbar-text">Hello, {{request.session.user_firstname}}</span></li>
            <li><a href="{% url 'login:logout' %}">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
            {% else %}<li><a href="/login">Login <span class="glyphicon glyphicon-log-in"></span></a></li>{% endif %}
            <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% if request.session.user_id %}
      <h1>{{user.first_name}}'s Account</h1>
      {% if upcoming_res %}
      <h2>Upcoming Reservations</h2>
      {% for res in upcoming_res %}
      <h3>{{res.vehicle_id}}</h3>
      {% for photo in res.vehicle_id.car_photos.all %}
      <img src="{{photo.picture.url}}" class="img-responsive" style="width:20% height: 20%" alt="Image">
      {% endfor %}
      <p>{{res.startdate}} {{res.starttime}} to {{res.enddate}} {{res.endtime}}</p>
      {% endfor %}
      {% endif %}
      {% if past_res %}
      <h2>Past Reservations</h2>
      {% for res in past_res %}
      <h3>{{res.cars.vehiclename}}</h3>
      <p>{{res.startdate}} {{res.starttime}} to {{res.enddate}} {{res.endtime}}</p>
      {% endfor %}
      {% endif %}
      {% endif %}
      <h2>
    </div>
    <footer class="container-fluid text-center">
      <h4>© 2017 Jeffrey Kwok </h4>
    </footer>
  </body>
</html>
