<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% bootstrap_messages %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Account Registration</title>
    <style>
    body {
      padding-top: 70px;
    }
   /* Remove the navbar's default rounded borders and increase the bottom margin */
   .navbar {
     margin-bottom: 10px;
     border-radius: 0;
   }

   /* Remove the jumbotron's default bottom margin */
    .jumbotron {
     margin-bottom: 0;
   }

   /* Add a gray background color and some padding to the footer */
   footer {
     background-color: #f2f2f2;
     padding: 25px;
   }
 </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Star Car Rentals</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'rentals:rentals' %}">Cars</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.session.user_id %}<li><span class="navbar-text">Hello, {{request.session.user_firstname}}</span></li>
        <li><a href="{% url 'login:logout' %}">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
        <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        {% else %}<li><a href="/login">Login <span class="glyphicon glyphicon-log-in"></span></a></li>{% endif %}
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
    </nav>
      <div class="container">
        <div class="col-sm-4">
      {% if messages %}
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      {% endif %}
      <h1>Login</h1>
      <form action='{% url 'login:login' %}' method='POST'>
          {% csrf_token %}
          <div class="form-group">
          <label for='email' class="col-2 col-form-label">Email:</label>
          <input type='email' class="form-control" name='email'><br/>
          <label for='password' class="col-2 col-form-label">Password:</label>
          <input type='password' class="form-control" name='password'/><br/>
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
        <h1>Registration</h1>
        <form action='{% url 'login:register' %}' method='POST' class="form">
          {% csrf_token %}
          <div class="form-group">
            <label for='first_name' class="col-2 col-form-label">First Name:</label>
            <input type='text' class="form-control" name='first_name'><br/>
            <label for='last_name' class="col-2 col-form-label">Last Name:</label>
            <input type='text' class="form-control" name='last_name'><br/>
            <label for='email' class="col-2 col-form-label">Email:</label>
            <input type='email' class="form-control" name='email'><br/>
            <label for='password' class="col-2 col-form-label">Password:</label>
            <input type='password' class="form-control" name='password'/><br/>
            <label for='confirm_password' class="col-2 col-form-label">Confirm Password:</label>
            <input type='password' class="form-control" name='confirm_password'/><br/>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <footer class="container-fluid text-center">
      <h4>© 2017 Jeffrey Kwok </h4>
    </footer>
</body>
</html>
